body {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



#Game {
  background: black;
  height: 100vh;
  width: 100vw;
  display: none;
}

#startPlay:hover {
  cursor: url('Untitled_design__4_-removebg-preview.png') 30 30, pointer;
  font-family: "Knewave";
  height: 200px;
  width: 450px;
  border-radius: 25px;
  font-size: 70px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  background: rgb(12, 150, 0);
  border: 7px solid;
  border-radius: 25pt;
  border-color: rgb(255, 255, 255);
}

#titleText {
  text-shadow:
    0 0 5px #00ffff, 
    0 0 10px #00ffff,
    0 0 15px #0073e6, 
    0 0 20px #00e68e,
    0 0 25px #00e626,
    0 0 30px #00e6c0,
    0 0 35px #006be6,
    0 0 40px blue,
    0 0 45px blue;
}

#startPlay {
  font-family: "Knewave";
  height: 200px;
  width: 450px;
  border-radius: 25px;
  font-size: 70px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  background-color: rgb(21, 255, 0);
  border: 7px solid;
  border-radius: 25pt;
  border-color: rgb(0, 255, 255);
}

